<h1>Window Manager</h1>
<h2>Tiling Window Manager</h2>
<h3>AwesomeWM</h3>
<p>Original author(s):         Julien Danjou<br />
Initial release:            September 18, 2007; 13 years ago[1]<br />
Stable release:             4.3[2] / January 28, 2019; 2 years ago <br />
Repository:                 github.com/awesomeWM/awesome <br />
Written in:                 C and Lua <br />
Operating system:           Unix-like <br />
Type:                       Window manager <br />
License:                    GPLv2+[3] <br />
Website:                    awesomewm.org   </p>
<h3>Bspwm</h3>
<p>na.</p>
<h3>dwm</h3>
<p>Original author(s):         Anselm R. Garbe[1] <br />
Developer(s):               suckless.org <br />
Initial release:            July 14, 2006; 14 years ago[2] <br />
Stable release:             6.2 / February 3, 2019; 2 years ago <br />
Repository:                 git.suckless.org/dwm <br />
Written in:                 C <br />
Operating system:           Unix-like <br />
Size:                       20 KB (source code)[3] <br />
Type:                       Window manager <br />
License:                    MIT License[4] <br />
Website:                    dwm.suckless.org   </p>
<h3>Herbsluftwm</h3>
<p>na.</p>
<h3>i3</h3>
<p>Original author(s):         Michael Stapelberg <br />
Initial release:            March 15, 2009; 12 years ago[1] <br />
Stable release:             4.19.1 / February 1, 2021; 3 months ago[2] <br />
Repository:                 github.com/i3/i3.git <br />
Written in:                 C <br />
Operating system:           Unix-like <br />
Size:                       1.2 MiB[2] <br />
Type:                       Window manager <br />
License:                    BSD license[3] <br />
Website:                    i3wm.org   </p>
<h3>Ion</h3>
<p>Developer(s):               Tuomo Valkonen[1][2] <br />
Stable release:             ion-3-20090110 (stable)[citation needed] / January 10, 2009; 12 years ago <br />
Operating system:           Unix-like <br />
Type:                       Window Manager <br />
License:                    LGPL-like with naming restrictions <br />
Website:                    tuomov.iki.fi/software/ion/   </p>
<h3>larswm</h3>
<p>Developer(s):               Lars Bernhardsson <br />
Stable release:             7.5.3 / July 15, 2004; 16 years ago <br />
Operating system:           Unix-like <br />
Type:                       Window Manager <br />
License:                    Custom <br />
Website:                    www.fnurt.net/larswm/   </p>
<h3>LeftWM</h3>
<p>na.</p>
<h3>Qtile</h3>
<p>na.
Written in:                 Python   </p>
<h3>ratpoison</h3>
<p>Developer(s):               Shawn Betts <br />
Initial release:            December 4, 2000; 20 years ago[1] <br />
Stable release:             1.4.9 / April 4, 2017; 4 years ago[2] <br />
Repository:                 git.savannah.nongnu.org/cgit/ratpoison.git <br />
Written in:                 C <br />
Type:                       Window manager <br />
License:                    GPLv2 <br />
Website:                    www.nongnu.org/ratpoison/   </p>
<h3>Spectrwm</h3>
<p>na</p>
<h3>StumpWM</h3>
<p>Developer(s):               Shawn Betts <br />
Stable release:             18.05 (May 30, 2018; 2 years ago[1]) [±] <br />
Repository:                 github.com/stumpwm/stumpwm.git <br />
Written in:                 Common Lisp <br />
Operating system:           Unix-like <br />
Type:                       Window manager <br />
License:                    GPLv2+[2] <br />
Website:                    stumpwm.github.io   </p>
<h3>xmonad</h3>
<p>Original author(s):         Spencer Janssen, Don Stewart, Jason Creighton <br />
Initial release:            March 6, 2007; 14 years ago[1] <br />
Stable release:             0.15[2] / September 30, 2018; 2 years ago <br />
Repository:                 github.com/xmonad/xmonad <br />
Written in:                 Haskell <br />
Operating system:           POSIX-compatible <br />
Platform:                   Cross-platform; requires the X Window System and GHC <br />
Size:                       56 KB (source code)[3] <br />
Available in:               English <br />
Type:                       Window manager <br />
License:                    BSD-3 <br />
Website:                    xmonad.org   </p>
<p>rauldkux. 2021</p>