<h1>ADB Backup</h1>
<h2>BACKUP:</h2>
<ul>
<li>BACKUPDIR="~/"</li>
<li>adb root</li>
<li>adb pull -a data/user/0 ${BACKUPDIR}</li>
<li>adb pull -a data/app ${BACKUPDIR}</li>
<li>adb pull -a mnt/sdcard ${BACKUPDIR}</li>
</ul>
<h2>RESTORE:</h2>
<ul>
<li>adb kill-server</li>
<li>adb root</li>
<li>adb push ${BACKUPDIR}/sdcard /mnt/</li>
<li>time find ${BACKUPDIR}/app/ -type f -name base.apk -print0 -exec adb install {} ;</li>
<li>adb push ${BACKUPDIR}/0 /data/user/</li>
<li>adb shell</li>
</ul>
<h2>Generate a permissions fixer from /data/system/packages.list:</h2>
<ul>
<li>cat /data/system/packages.list | awk '{print "chown u0_a" $2-10000 ":u0_a" $2-10000 " /data/data/"$1" -R"}' &gt; /data/media/fix_perms.sh</li>
<li>sh /data/media/fix_perms.sh</li>
<li>rm /data/media/fix_perms.sh</li>
<li>exit</li>
<li>adb reboot</li>
</ul>
<p>rauldux, 2021</p>